
img {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 80px;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}